.figure {
    position: relative;
    width: 100%;
}

.figure__img {
    width: 100%;
    height: 100%;
}

.figure__div {
    position: absolute;
    width: 100%;
    // background: hsl(292°, 100%, 50%);
    background: var(--SoftViolet);
    height: 99%;
    opacity: .4;
    top: 0;
}

@media screen and (min-width: 1160px) {
    .figure {
        height: 100%;
        margin: 0;
        grid-column: 7/-1;
        grid-row: 1/4;
    }

    .figure__div {
        height: 100%;
    }
}